<%- include('./partials/header'); -%>

    <section>
        <div class="container my-http-cont">
            <div class="card bg-dark text-white">
                <img src="<%= imgUrl %>" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">
                        <%= status %>
                    </h5>
                </div>
            </div>
        </div>
    </section>


    <%- include('./partials/footer'); -%>