<%- include('./partials/header') -%>
    <section>
        <div class="container">
            <div class="my-form-cont">
                <h2 class="my-form-heading">RESET PASSWORD</h2>
                <!-- https://stackoverflow.com/questions/5372559/what-is-the-proper-way-to-check-for-existence-of-variable-in-an-ejs-template-us/42993996 -->
                <% if(locals.someMsg){ %>
                    <span><%= someMsg %></span>
                    <% }  %>
                        <!-- https://getbootstrap.com/docs/5.0/forms/overview/ -->
                        <form action="/login/reset-pwd" method="POST">
                            <input type="hidden" name="email" value="<%= email %>">
                            <div class="mb-3">
                                <label for="pwd" class="form-label">New Password</label>
                                <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Enter the password...">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Reset</button>
                            </div>
                        </form>
            </div>
        </div>
    </section>
    <%- include('./partials/footer') -%>