body {
    background-image: linear-gradient(90deg, rgba(238, 130, 238, 0.5), rgba(76, 0, 130, 0.5), rgba(0, 0, 255, 0.5), rgba(0, 128, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(255, 166, 0, 0.5), rgba(255, 0, 0, 0.5));
}

section {
    margin: 16px auto;
}

.my-form-cont {
    max-width: 400px;
    margin: 0 auto 0;
    color: whitesmoke;
    padding: 1rem;
    background-color: #161b22;
    border-radius: 5px;
}

.my-form-heading {
    text-align: center;
    background-color: salmon;
}

.my-download-cont img {
    background-color: rgba(0, 0, 0, 0.76);
    height: 200px;
}

.my-http-cont {
    max-width: 576px;
}

.my-test {
    border: 2px solid violet;
}